.animate {
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.form-container {
  font-family: 'Source Code Pro', serif;
  width: 1050px;
  background-color: #f1f1f1;
  border: 1px solid #cdcdcd;
  margin: 0 auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.form-container h1,
.form-container h2,
.form-container h3,
.form-container h4,
.form-container h5 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.form-container h5 {
  color: #4a4a4a;
}
.form-container input[type='text'],
.form-container input[type='number'] {
  height: 30px;
  width: 99%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: 'Source Code Pro';
  font-size: 14px;
  text-indent: 10px;
}
.form-container textarea {
  width: 95%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: 'Source Code Pro';
  font-size: 14px;
  padding: 10px;
  resize: none;
}
.form-container .button {
  background-color: #4a90e2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font: 'Lato';
  cursor: pointer;
  margin-bottom: 5px;
}
.form-container .button:hover {
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #2c6cb6;
}
.form-container .button.success {
  background-color: #88bd00;
}
.form-container .button.success:hover {
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #6e9900;
}
.form-container .button.danger {
  background-color: #d0021b;
}
.form-container .button.danger:hover {
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #ab0015;
}
.form-container .left-col {
  height: 100%;
  width: 415px;
  float: left;
}
.form-container .left-col .form-group label {
  font-family: 'Lato';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: block;
}
.form-container .left-col .col-sm-6 {
  width: 47%;
  float: left;
  margin-left: 7px;
}
.form-container .left-col .section {
  padding: 20px;
  border: 1px solid #cdcdcd;
  margin: 0 0 15px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.form-container .left-col .choice button {
  padding: 0;
  width: 30px;
  height: 35px;
}
.form-container .right-col {
  width: 634px;
  float: left;
  border: 1px solid #cdcdcd;
  border-width: 0 0px 0 1px;
  padding-bottom: 50px;
}
.form-container .right-col #form-elements,
.form-container .right-col #sortable-elements {
  padding: 0px;
  margin: 0px;
}
.form-container .right-col .form-element {
  position: relative;
  list-style-type: none;
  cursor: pointer;
  padding: 25px;
}
.form-container .right-col .form-element input,
.form-container .right-col .form-element texarea,
.form-container .right-col .form-element label {
  cursor: pointer;
}
.form-container .right-col .form-element h2,
.form-container .right-col .form-element h5 {
  margin: 0px;
  padding: 0px;
}
.form-container .right-col .form-element h2 {
  margin-bottom: 5px;
}
.form-container .right-col #form-settings-element {
  margin-bottom: 10px;
}
.form-container .right-col #form-settings-element:hover {
  border: none;
}
.form-container .right-col #form-settings-element.selected {
  background-color: #c3dbf8;
}
.form-container .right-col #sortable-elements {
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}
.form-container .right-col #sortable-elements .form-element {
  width: 85%;
  margin: 10px 0 10px 25px;
  list-style-type: none;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #cdcdcd;
}
.form-container .right-col #sortable-elements .form-element label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.form-container .right-col #sortable-elements .form-element.selected {
  background-color: #DCF7C0;
  border: 1px solid #7ED321;
}
.form-container .right-col #sortable-elements .form-element:hover {
  border: 1px dashed #7ED321;
}
.form-container .right-col .button {
  margin: 20px 0 30px 25px;
}
.required-star {
  color: red;
}
.nav-tabs {
  margin: 0px;
  padding: 0px;
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  margin-top: 45px;
  position: relative;
}
.nav-tabs li:first-child {
  margin-left: 10px;
}
.nav-tabs li {
  color: #4a90e2;
  list-style-type: none;
  display: inline-block;
  font-family: 'Lato';
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}
.nav-tabs li a {
  text-decoration: none;
  color: #4a90e2;
}
.nav-tabs li.active {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-bottom-color: #f1f1f1;
  padding-bottom: 12px;
  top: 1px;
}
#footer {
  font-family: 'Lato';
  width: 600px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}
#footer p {
  margin-top: 30px;
  font-size: 14px;
}
#footer a {
  color: #4a90e2;
}
